---
---

@import "{{ site.theme }}";

.great {
    background: #66FF00;
}

.good {
    background: #89d954;
}

.fair {
    background: #98be7e;
}

.meh {
    background: #b8b8b8;
}

.poor {
    background: #9c6363;
    color: white;
}

.bad {
    background: #d83131;
    color: white;
}

.abysmal {
    background: #631313;
    color: white;
}